{% extends "first_app/base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
</form>
<html>
    <h1> <center> Welcome to the East West University Capstone Admin Panel </center> <span>{{Student.first_name}} {{Student.objects.last_name}}</span> </h1>
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'addfaculty' %}">Add Faculty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'grp_list'%}">View Group</a>
        </li>
        
      </ul>
</html
{% endblock %}
