
{% extends "first_app/base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
</form>
<html>
    <h1><center> Welcome to the East West University Capstone Student Portal </center> {{ student_object.first_name }} {{student.objects.last_name}} </h1>
    
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'topic_reg' %}">Propose Topic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'meeting_sch' %}">Meeting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Task</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'grade_rep' %}">Grade Report</a>
          </li>
        
      </ul>
</html
{% endblock %}

